[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = {extras = ["aiobotocore", "apache.kafka", "apache.spark", "celery", "hashicorp", "postgres"], version = "*"}
pandas = {extras = ["numpy", "pyarrow"], version = "*"}
psycopg2-binary = "*"
apache-airflow-providers-postgres = "*"
fastavro = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.10"
