-i https://pypi.org/simple
aiobotocore==2.6.0
aiohttp==3.8.6 ; python_version >= '3.6'
aioitertools==0.11.0 ; python_version >= '3.6'
aiosignal==1.3.1 ; python_version >= '3.7'
alembic==1.12.0 ; python_version >= '3.7'
amqp==5.1.1 ; python_version >= '3.6'
annotated-types==0.6.0 ; python_version >= '3.8'
anyio==4.0.0 ; python_version >= '3.8'
apache-airflow[aiobotocore,apache.kafka,apache.spark,celery,hashicorp,postgres]==2.7.2
apache-airflow-providers-apache-kafka==1.1.2
apache-airflow-providers-apache-spark==4.1.5
apache-airflow-providers-celery==3.3.4
apache-airflow-providers-common-sql==1.7.2 ; python_version ~= '3.8'
apache-airflow-providers-ftp==3.5.2 ; python_version ~= '3.8'
apache-airflow-providers-hashicorp==3.4.3
apache-airflow-providers-http==4.5.2 ; python_version ~= '3.8'
apache-airflow-providers-imap==3.3.2 ; python_version ~= '3.8'
apache-airflow-providers-postgres==5.6.1
apache-airflow-providers-sqlite==3.4.3 ; python_version ~= '3.8'
apispec[yaml]==6.3.0 ; python_version >= '3.7'
argcomplete==3.1.2 ; python_version >= '3.6'
asgiref==3.7.2 ; python_version >= '3.7'
async-timeout==4.0.3 ; python_version >= '3.7'
attrs==23.1.0 ; python_version >= '3.7'
babel==2.13.0 ; python_version >= '3.7'
backoff==2.2.1 ; python_version >= '3.7'
billiard==4.1.0 ; python_version >= '3.7'
blinker==1.6.3 ; python_version >= '3.7'
botocore==1.31.17 ; python_version >= '3.7'
cachelib==0.9.0 ; python_version >= '3.7'
cattrs==23.1.2 ; python_version >= '3.7'
celery==5.3.4
certifi==2023.7.22 ; python_version >= '3.6'
cffi==1.16.0 ; python_version >= '3.8'
charset-normalizer==3.3.0 ; python_full_version >= '3.7.0'
click==8.1.7 ; python_version >= '3.7'
click-didyoumean==0.3.0 ; python_full_version >= '3.6.2' and python_full_version < '4.0.0'
click-plugins==1.1.1
click-repl==0.3.0 ; python_version >= '3.6'
clickclick==20.10.2
colorama==0.4.6 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
colorlog==4.8.0
configupdater==3.1.1 ; python_version >= '3.6'
confluent-kafka==2.2.0
connexion[flask]==2.14.2 ; python_version >= '3.6'
cron-descriptor==1.4.0
croniter==2.0.1 ; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
cryptography==41.0.4 ; python_version >= '3.7'
deprecated==1.2.14 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
dill==0.3.7 ; python_version >= '3.7'
dnspython==2.4.2 ; python_version >= '3.8' and python_version < '4.0'
docutils==0.20.1 ; python_version >= '3.7'
email-validator==1.3.1 ; python_version >= '3.5'
exceptiongroup==1.1.3 ; python_version < '3.11'
fastavro==1.8.4
flask==2.2.5 ; python_version >= '3.7'
flask-appbuilder==4.3.6 ; python_version ~= '3.7'
flask-babel==2.0.0
flask-caching==2.1.0 ; python_version >= '3.7'
flask-jwt-extended==4.5.3 ; python_version >= '3.7' and python_version < '4'
flask-limiter==3.5.0 ; python_version >= '3.7'
flask-login==0.6.2 ; python_version >= '3.7'
flask-session==0.5.0 ; python_version >= '3.7'
flask-sqlalchemy==2.5.1 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
flask-wtf==1.2.1 ; python_version >= '3.8'
flower==2.0.1
frozenlist==1.4.0 ; python_version >= '3.8'
google-re2==1.1 ; python_version ~= '3.8'
googleapis-common-protos==1.61.0 ; python_version >= '3.7'
graphviz==0.20.1 ; python_version >= '3.7'
grpcio==1.59.0 ; python_version >= '3.7'
gunicorn==21.2.0 ; python_version >= '3.5'
h11==0.14.0 ; python_version >= '3.7'
httpcore==0.18.0 ; python_version >= '3.8'
httpx==0.25.0 ; python_version >= '3.8'
humanize==4.8.0 ; python_version >= '3.8'
hvac==1.2.1 ; python_full_version >= '3.6.2' and python_full_version < '4.0.0'
idna==3.4 ; python_version >= '3.5'
importlib-metadata==6.8.0 ; python_version >= '3.8'
importlib-resources==6.1.0 ; python_version >= '3.8'
inflection==0.5.1 ; python_version >= '3.5'
itsdangerous==2.1.2 ; python_version >= '3.7'
jinja2==3.1.2 ; python_version >= '3.7'
jmespath==1.0.1 ; python_version >= '3.7'
jsonschema==4.19.1 ; python_version >= '3.8'
jsonschema-specifications==2023.7.1 ; python_version >= '3.8'
kombu==5.3.2 ; python_version >= '3.8'
lazy-object-proxy==1.9.0 ; python_version >= '3.7'
limits==3.6.0 ; python_version >= '3.7'
linkify-it-py==2.0.2 ; python_version >= '3.7'
lockfile==0.12.2
mako==1.2.4 ; python_version >= '3.7'
markdown==3.5 ; python_version >= '3.8'
markdown-it-py==3.0.0 ; python_version >= '3.8'
markupsafe==2.1.3 ; python_version >= '3.7'
marshmallow==3.20.1 ; python_version >= '3.8'
marshmallow-oneofschema==3.0.1 ; python_version >= '3.6'
marshmallow-sqlalchemy==0.26.1 ; python_version >= '3.6'
mdit-py-plugins==0.4.0 ; python_version >= '3.8'
mdurl==0.1.2 ; python_version >= '3.7'
multidict==6.0.4 ; python_version >= '3.7'
numpy==1.26.1 ; python_version < '3.11'
opentelemetry-api==1.20.0 ; python_version >= '3.7'
opentelemetry-exporter-otlp==1.20.0 ; python_version >= '3.7'
opentelemetry-exporter-otlp-proto-common==1.20.0 ; python_version >= '3.7'
opentelemetry-exporter-otlp-proto-grpc==1.20.0 ; python_version >= '3.7'
opentelemetry-exporter-otlp-proto-http==1.20.0 ; python_version >= '3.7'
opentelemetry-proto==1.20.0 ; python_version >= '3.7'
opentelemetry-sdk==1.20.0 ; python_version >= '3.7'
opentelemetry-semantic-conventions==0.41b0 ; python_version >= '3.7'
ordered-set==4.1.0 ; python_version >= '3.7'
packaging==23.2 ; python_version >= '3.7'
pandas[numpy,pyarrow]==2.1.1
pathspec==0.11.2 ; python_version >= '3.7'
pendulum==2.1.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
pluggy==1.3.0 ; python_version >= '3.8'
prison==0.2.1
prometheus-client==0.17.1 ; python_version >= '3.6'
prompt-toolkit==3.0.39 ; python_full_version >= '3.7.0'
protobuf==4.24.4 ; python_version >= '3.7'
psutil==5.9.5 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
psycopg2-binary==2.9.9 ; python_version >= '3.7'
py4j==0.10.9.7
pycparser==2.21
pydantic==2.4.2 ; python_version >= '3.7'
pydantic-core==2.10.1 ; python_version >= '3.7'
pygments==2.16.1 ; python_version >= '3.7'
pyhcl==0.4.5
pyjwt==2.8.0 ; python_version >= '3.7'
pyspark==3.5.0 ; python_version >= '3.8'
python-daemon==3.0.1 ; python_version >= '3'
python-dateutil==2.8.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-nvd3==0.15.0
python-slugify==8.0.1 ; python_version >= '3.7'
pytz==2023.3.post1
pytzdata==2020.1 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyyaml==6.0.1 ; python_version >= '3.6'
referencing==0.30.2 ; python_version >= '3.8'
requests==2.31.0 ; python_version >= '3.7'
requests-toolbelt==1.0.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
rfc3339-validator==0.1.4 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
rich==13.6.0 ; python_full_version >= '3.7.0'
rich-argparse==1.3.0 ; python_version >= '3.7'
rpds-py==0.10.6 ; python_version >= '3.8'
setproctitle==1.3.3 ; python_version >= '3.7'
setuptools==68.2.2 ; python_version >= '3.8'
six==1.16.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sniffio==1.3.0 ; python_version >= '3.7'
sqlalchemy==1.4.49 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
sqlalchemy-jsonfield==1.0.1.post0 ; python_full_version >= '3.7.0'
sqlalchemy-utils==0.41.1 ; python_version >= '3.6'
sqlparse==0.4.4 ; python_version >= '3.5'
tabulate==0.9.0 ; python_version >= '3.7'
tenacity==8.2.3 ; python_version >= '3.7'
termcolor==2.3.0 ; python_version >= '3.7'
text-unidecode==1.3
tornado==6.3.3 ; python_version >= '3.8'
typing-extensions==4.8.0 ; python_version >= '3.8'
tzdata==2023.3 ; python_version >= '2'
uc-micro-py==1.0.2 ; python_version >= '3.7'
unicodecsv==0.14.1
urllib3==1.26.17 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
vine==5.0.0 ; python_version >= '3.6'
wcwidth==0.2.8
werkzeug==2.2.3 ; python_version >= '3.7'
wrapt==1.15.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
wtforms==3.1.0 ; python_version >= '3.8'
yarl==1.9.2 ; python_version >= '3.7'
zipp==3.17.0 ; python_version >= '3.8'
